* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.header {
  display: grid;
  grid-template-columns: 100px auto;
}
.header-container {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-bottom: 0.5rem;
  max-width: 100%;
}
.header img {
  width: 100%;
  border-radius: 50%;
}
.input-container {
  margin-top: 1rem;
  display: inline-block;
}
.input-container input{
    width:75%
}
.search-posts-container {
  margin: 0 1rem;

  display: grid;
  grid-template-columns: 3fr 1fr 3fr ;
}
.subreddit-check {
  display: inline-block;
}
.date-picker{
    max-width:6rem;
}
.check-flex-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}
.label-flex-container{
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  mergin-right:
  
}
.snoo-tooltip {
  position: absolute;
  bottom: -20px;
  left: 70px;
  min-width: 9rem;
  padding: 0.2rem 0.2rem;
  display: none;
  background-color: #efefefd8;
  border: 0.1px solid black;
  opacity: 0.8;
  text-align: center;
}
.snoo-img-container {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.snoo-img-container:hover > .snoo-tooltip {
  display: block;
}
.search-params {
  display: inline-flex;
  flex-direction: column;
}
.calendar-inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.calendar-before {
  display: grid;
  grid-template-columns: 4rem 1rem 10rem;
}
.calendar-after {
  display: grid;
  grid-template-columns: 4rem 1rem 3rem;
}
.if-subreddit {
}
.searchBar {
  display: grid;
  grid-template-columns: 12rem auto;
}
.calendar-inputs {
  max-width: 11rem;
}
.search-subs-butn {
  padding-left: 3rem;
  display:grid;
  grid-template-rows: 1fr 1fr;
}
