* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  
}
.header {
  display: grid;
  grid-template-columns: 100px auto;
}
.header-container {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-bottom: 0.5rem;
  max-width: 100%;
}
.header img {
  width: 100%;
  border-radius: 50%;
}
.modal-container{
  display:flex;
  justify-content: flex-end;
  
}
.modal-btn{
  margin-right:1rem;
}
.input-container {
  margin-top: 1rem;
  display: inline-block;
}
.input-container input {
  width: 75%;
}
.search-posts-container {
  margin: 0 1rem;

  display: grid;
  grid-template-rows: auto auto auto ;
  grid-gap: 0.5rem;
  
  
}
.subreddit-check {
  display: inline-block;
}
.date-picker {
  max-width: 6rem;
}
.check-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snoo-tooltip {
  position: absolute;
  bottom: -20px;
  left: 70px;
  min-width: 9rem;
  padding: 0.2rem 0.2rem;
  display: none;
  background-color: #efefefd8;
  border: 0.1px solid black;
  opacity: 0.8;
  text-align: center;
}
.snoo-img-container {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.snoo-img-container:hover > .snoo-tooltip {
  display: block;
}
.search-params {
  display: inline-flex;
  flex-direction: column;
}
.calendar-inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.calendar-before {
  display: grid;
  grid-template-columns: 4rem 1rem 10rem;
}
.calendar-after {
  display: grid;
  grid-template-columns: 4rem 1rem 3rem;
}
.if-subreddit {
}
.search-bar {
  display: grid;
  grid-template-columns: 16rem auto;
}
.textin-contain{
  display: inline;
}
.textin{
  display: inline;
  padding-right:0px;
  margin-right:0px;
}
.calendar-inputs {
  max-width: 11rem;
}
.search-subs-butn {
  
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media only screen and (min-width: 1024px) {
  .modal-container{
    display:flex;
    justify-content: left;
    
  }
  .modal-btn{
    margin-left: 6.2rem;
  }
}