.subreddit-card{
    display: grid;
    grid-template-columns: 100px auto auto;
    height: 6rem;
    background-color:#ffffff;
    border-radius:10px;
    margin-bottom: 30px;
    margin-right:20px;
    margin-left: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
.sub-icon{
    border-radius:50%;
    height: 5.5rem;
}
.subreddit-name{
    display:inline;
}
.sub-text-wrapp{
    display: grid;
    grid-template-rows: 1fr 1fr;
}